body {
	font-family: Arial, Helvetica, sans-serif;   
	font-size: 18px; 
	line-height: 34px;
	color: #843156;
}

h1
h2
h3
p {
	margin-bottom: 20px;
}

p: last-child {
	margin-bottom: 0;
}

h1
h2
h3 {
	font-family: Georgia, 'Times New Roman', times, serif;
	font-weight: 700;
	color: pink;
}

h1 {
	padding-bottom: 20px;
	font-size: 30px;
	line-height: 49px;
	border-bottom: 3px solid white;
}

h2
h3 {
	font-size: 22px;
}

* {
	box-sizing: border-box;
}

/* General */
.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}

/* Header*/
#masthead {
	position: fixed;
	width: 100%;
	margin: 0 0 30px;
	overflow: auto;
	color: #ffffff;
	background: #0096bc;
	border-bottom: 2px solid #ccc;
}

.container a {
	text-decoration: none;
	color: #000000;
}

nav {
	float: right; 
	margin-top: 25px;
}

nav a {
	display: inline-block;
	padding-left: 15px;
	margin-left: 15px;
	line-height: 18px;
	color: #000000;
	text-decoration: none;
	border-left: 1px solid black;
}

nav: first-child {
	border-left: : 0 none;
}

/* main */
#main-container {
	padding-top: 130px;
}

.main-section {
	float: left;
	width: 100%;
	max-width: 650px;
	padding: 30px;
	margin: 0 0 40px;
	background: #fff;
	border: 1px solid #ddd;
}

/* sidebar */
.sidebar {
	float: right;
	width: 100%;
	max-width: 270px;
	padding: 30px;
	margin-bottom: 20px;
	background: #70caea;
	border: 1px solid #70caea;
}

h3, .sidebar h2 {
	padding-bottom: 20px;
	margin-bottom: 15px;
	line-height: 22px;
	border-bottom: 2px solid #70caea;
}

.social {
	width: 70px;
	height: 70px;
	margin-top: 5px;
	margin-right: 8px;
}

/* portfolio page */

.work {
	position: relative;
	float: left;
	width: 274px;
	margin: 20px 0 25px;
	overflow: auto;
}

.work: nth-child(even) {
	margin-right: 40px;
}

.work img {
	width: 100%;
	border: 0 none;
	opacity: 0.8%;.auth-image
}

.work h3 {
	position: absolute;
	bottom: 20px;
	width: 100%;
	padding: 13px;
	margin-bottom: 0;
	font-weight: 300px;
	line-height: 30px;
	color: black;
	text-align: center;
	background: #9556af;

}

.auth-image {
	float: left;
	width: 200px;
	height: auto;
	margin-right: 25px;
}

/* contact page */
#contact-form  ul {
	margin-bottom: 20px;
}

#contact-form li {
	margin-bottom: 10px;
}

label
input [type=text]
input [type=text]
textarea {
	display: black;
	width: 100%;
}

input [type=text]
input [type=text]
textarea {
	height: 35px;
	padding: 0 10px;
	font-size: 14px;
	border: 1px solid black;
}

textarea {
	height: 200px;
}

input [type=submit] {
	padding: 10px 30px;
	font-size: 18px;
	color: green;
	cursor: pointer;
	background: brown;
	border: 0 none;
}

/* footer */
footer {
	padding: 30px 0 ;
	clear: both;
	font-size: 12px; 
	color: white;
	text-align: center;
	background: black;
	border-top: 8px solid #0096bc;